<!-- #TODO: Получать имя бота с сервера -->
<div class="app-auth-container" @inOutComponent>
  <img src="assets/svg/logo-v.svg" />
  <div>
    <span class="app-auth__title">Welcome</span>
    <app-telegram-login
      *ngIf="!this.isDev"
      botName="DarcrBot"
      [config]="botConfig"
      (login)="this.loginHandler($event)"
    ></app-telegram-login>
    <button
      *ngIf="isDev"
      class="app-auth__sign-in"
      mat-button
      (click)="this.loginHandler(this.mockUser, true)"
    >
      Sign in
    </button>
  </div>
</div>
